.chat-settings-container > div {
    position: inherit;
    height: 70vh;
}
.chat-settings-container > div > div:first-child,
.chat-settings-container > div > div:last-child > div > div > div:nth-child(2) {
    display: none;
}
